@font-face {
    font-family: Outfit; 
    src: url('./Outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: OutfitBold; 
    src: url('./Outfit/static/Outfit-Bold.ttf');
}

body { 
    background-color: hsl(212, 45%, 89%);
}

.qrcode-box {
    background-color: hsl(0, 0%, 100%); 
    width: 320px; height: 500px; 
    border-radius: 20px; 
    display: block; 
    text-align: center; 
    margin: 20vh auto auto;
}

.qrcode-image {
    width: 290px; 
    height: 280px; 
    border-radius: 10px; 
    margin: 15px 5px;
}

h4 {
    font-family: OutfitBold; 
    font-size: 22px; 
    font-weight: 700; 
    font-style: bold; 
    color: hsl(218, 44%, 22%); 
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top:10px;
}

h5 {
    font-family: Outfit; 
    font-size: 15px; 
    font-weight: 400; 
    color: hsl(220, 15%, 55%); 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top:10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 230px; 
    margin-right: auto; 
    margin-left: auto;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
